.div1 {
    font-size: 50px;
    border-style: solid;
    border-width: 2px 1px 20px 1px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: black;
    border-left-color: transparent;
}

.div2 {
    font-size: 30px;
    border-style: dashed;
    border-width: 2px 1px 5px 1px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: black;
    border-left-color: transparent;
}

.div3 {
    font-size: 20;
}